# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# Databases
*.db
*.sqlite3

# Environment
.env
.flaskenv

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
